
<!DOCTYPE html>
<html>
<head>
  <title>RailsBoilerplateWithConfig</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://static.vinepair.com/wp-content/uploads/2015/06/fake-cocktail-bar-liqueurs.jpg');">



<%= render 'share/navbar'%>
<%= yield %>
</div>
</body>
</html>
